.nav-menu {
  display: flex;
  height: 100%;
  flex-direction: row;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.nav-menu__item {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  justify-self: end;
  transition: color .3s ease;
}

.nav-menu__item_active {
  color: var(--text-color);
}

.nav-menu__item_active .nav-menu__link {
  position: relative;
}

.nav-menu__item_active .nav-menu__link::after {
  content: '';
  position: absolute;
  left: 18px;
  right: 18px;
  bottom: -8px;
  height: 2px;
  background: var(--accent-color);
  border-radius: 4px;
}

.nav-menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  padding: 0 18px;
  color: inherit;
  cursor: inherit;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  transition: color .3s ease;
}

.nav-menu__link:hover {
  color: var(--accent-color);
}


@media screen and (max-width:770px) {
  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu__item {
    margin: 0 0 24px;
  }

  .nav-menu__item_active:after {
    display: none;
  }
}


@media screen and (max-width:610px) {
  .nav-menu {
    width: 100%;
    max-width: 308px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }

  .nav-menu__item {
    width: 100%;
  }

  .nav-menu__link {
    width: 100%;
  }

  .nav-menu__button {
    width: 100%;
  }
}
